@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
}

.card-items {
  display: flex;
  border-radius: 4px;
  max-width: 95%;
}

.card {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding: 45px;
}
.card h2 {
  font-family: "Big Shoulders Display", cursive;
  margin: 2rem 0;
  font-size: 2.3rem;
  text-transform: uppercase;
}

.card p {
  opacity: 0.6;
  line-height: 23px;
  font-size: 14px;
  align-items: flex-start;
  display: flex;
  margin: 2rem 0;
}

.card button {
  border-radius: 30px;
  border: 2px solid white;
  padding: 12px 30px;
  margin-top: 2rem;
  font-weight: bold;
  font-family: "Lexend Deca", sans-serif;
  transition: all 250ms ease;
}

.card button:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.card1 button {
  color: hsl(31deg 77% 52% / 70%);
}
.card2 button {
  color: hsl(184deg 100% 22% / 70%);
}
.card3 button {
  color: hsl(179deg 100% 13% / 70%);
}
.card1 {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.card2 {
  background-color: hsl(184, 100%, 22%);
}

.card3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 300px;
  }

  .card-items {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
  }

  .card1 {
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0;
  }
  .card3 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 9px;
  }

  .card button {
    margin-top: 0;
  }
}
